/* Classe */
.container{
	-fx-background-color: rgb(192, 192, 192);
	-fx-font-family: Assistant;
}

.containerInterno{
	-fx-background-color: #3d54c5;
	-fx-font-family: Assistant;
	-fx-min-height: 400px;
	-fx-background-radius: 50px;
	-fx-stroke: "#B0C4DE";
	-fx-stroke-width: 3
}

.fonteGeral{
	-fx-font-family: Assistant;
	-fx-font-size: 20;
}

.fontLabelAssitant{
	-fx-font-family: Assistant;
	-fx-font-size: 20;
}

.fonteLabel{
	-fx-font-family: Assistant;
	-fx-font-size: 20px;
	-fx-text-fill: #fff;
	-fx-padding: 20px;
}

.botao{
	-fx-fill: #80ff80;
	-fx-background-radius: 40;
	-fx-background-color:#32cd32;
	-fx-size:100px;
	-fx-text-fill: #ffffff;
	-fx-min-width: 200px;
	-fx-min-height: 45px;
	-fx-font-size: 22px
}

.textfield{
	-fx-alignment: center;
	-fx-pref-column-count: 9;
	-fx-font: Assistant;
	
}


.input{
	-fx-start-margin: 60px;
	-fx-background-radius: 40px
}
